.h1-w {
    text-align: center;
    padding-top: 15%;
    color: white;
    padding-left: 280px;
    padding-right: 280px;
    font-size: 75px;
}

.p-w {
    text-align: center;
    color: white;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 30px;


}

.sec1 {
    background-image: url(images/donation6.jpg);
    background-size: 100%;
    height: 700px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 5px;

}

.div-link {
    text-align: center;
}

.h2-w {
    text-align: center;
    font-size: 50px;
}

.p1-w {
    text-align: center;
    color: grey;
    font-size: 20px;
    padding-left: 450px;
    padding-right: 450px;
}

.h3-w {
    text-align: center;
    width: 1500px;
    font-size: 55px;


}

.Rafi {
    height: 100px;
    width: 100px;
}

#second {
    color: red;
    background-color: silver;
    border-color: red;
}

.do-link {
    text-align: center;
}

.h5-w {
    text-align: center;
    font-size: 56px;
}

.p2-w {
    text-align: center;
    color: grey;
    font-size: 38px;
    padding-left: 10%;
    padding-right: 10%;

}

.h4-w {
    text-align: center;
    padding-top: 20px;
}

.dis {
    margin-right: 5%;
    margin-left: 5%;
}

.h6-w {
    font-size: 15px;
    display: flex;
    height: 280px;

}

.do-link {
    padding: 15px;
}

#Food-family {
    background-color: aqua;
    margin-right: 5%;
    border-radius: 5px;
}

#Shelter-family {
    background-color: rgb(43, 176, 43);
    border-radius: 5px;
}

#Education-child {
    background-color: aquamarine;
    margin-left: 5%;
    border-radius: 5px;
}

.h7-w {
    font-size: 25px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.p2-w {
    color: gray;
    padding-left: 10px;
    font-size: 20px;
}

.cn-button {
    padding-left: 350px;
}

.h8-w {
    width: 50%;
    padding-left: 5%;
    padding-right: 1%;
    padding-top: 20px;
}

.h9-w {
    font-size: 30px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;

}

.p3-w {
    color: gray;
    padding-left: 40px;
    font-size: 35px;

}

.box-image-border {
    padding-left: 4%;
    padding-top: 10%;

}

.box-border {
    padding-left: 4%;
}

.box-border-disturb {
    padding-right: 5%;
}

.Subscribe {
    margin-top: 5%;
    text-align: center;
    background-color: bisque;
    width: 50%;
    height: 150px;
    margin-left: 350px;

}

.Subscribe-fild {}

#Email-fild {
    width: 250px;
    height: 30px;
    margin-top: 10%;


}

#Subscribe-button {
    height: 35px;
    width: 120px;
    margin: none;
    background-color: orangered;
    border-radius: 5px;
}

.contact {
    width: 50%;
    margin: 100px auto;
}

.contact-section {
    font-family: 'Poppins', sans-serif;
    color: #681919;
    text-align: center;
}

.contact-section h3 {
    color: #d14444;
}

.input-btn {
    height: 30px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}

.txtarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 30px;
}

.Submit-button {
    text-decoration: none;
    background-color: blue;
    color: white;
    height: 30px;
    border-radius: 15px;
    border: 0;
    padding: 15px;
}

.footer-section {
    background-color: black;
    width: 100%;
    height: 130px;
}

.footer-position {
    text-align: center;
}

.footer-h1-text-about {
    color: red;
    padding-top: 2%;
}

.footer-h5-text-about {
    color: grey;
}